/*--------------------------------------------------*/
/*-------------------[FORMULARIOS]------------------*/
/*--------------------------------------------------*/

/* WP Forms */
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
textarea {
	background: #fafafa;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	color: #888;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
textarea:focus {
	color: #373737;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number] {
	padding: 3px;
}
input#s {
	background: url(images/search.png) no-repeat 5px 6px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 0.875em; /* 14px */
	height: 33px;
	padding: 5px 10px 5px 28px;
	margin-top: 0.3em;
}
input#searchsubmit {
	display: none;
}


/* SH Forms */
.psh-form input[type="text"],
.psh-form input[type="email"],
.psh-form input[type="password"],
.psh-form input[type="number"],
.psh-form select,
.psh-form textarea {
	background: #fff;
	border: 1px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .2);
	-moz-box-shadow: inset 1px 1px 2px 2px rgba(00, 00, 00, .2);
	box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .3);     
	position: relative;
	padding: 8px 5%;
	text-indent: 10px;
	width: 90%;
	color: #666;
	font-size: 1em;
}
.psh-form select {
	width: 20%;
	padding: 8px 2% 8px 0;
}

.psh-form input[type="number"] {  width: 10%; margin: 0 6px;  }
.psh-form label {
	font-size: 1em;
	padding: 8px 0;
	display: block;
	font-weight: bold;
}

.psh-form p { margin-bottom:10px; }

.psh-form input[type="submit"], .psh-form button {
	border: none;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	cursor: pointer;
	font-size: 18px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	font-weight: bold;
	width: 100%;
	padding: 8px 5%;
	margin: 20px auto 10px;
	display:block;
	clear:both;
}

.psh-form input[type="submit"]:hover {

}

/* FORM ERRORS */
.error {
	padding: .8em 1em !important;
	border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border: 1px #8D0506 solid;
	margin: 0 0 .8em;
	color:  #8D0506;
	font-size: .8em;
	font-weight:normal;
	   
}

.spacer {
	display: inline-block;
	clear: both;
	width: 100%;
	height: 1em;	
}

/* =CF7 */
form.suscripcion-boletin input[type="text"],
form.suscripcion-boletin input[type="email"],
form.suscripcion-boletin textarea,
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
	background: #fff;
	border: 1px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .2);
	-moz-box-shadow: inset 1px 1px 2px 2px rgba(00, 00, 00, .2);
	box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .3);     
	position: relative;
	padding: 8px 0;
	text-indent: 1em;
	width: 100%;
}

form.wpcf7-form p, form.suscripcion-boletin p { margin-bottom: 1em; }

form.suscripcion-boletin input[type="submit"],
form.wpcf7-form input[type="submit"] {
	background: #444;
	border: none;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 18px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	font-weight: bold;
	padding: 8px 36px;
	float:right;	
}
form.suscripcion-boletin input[type="submit"]:hover,
form.wpcf7-form input[type="submit"]:hover {
	background: #222;
	color: #fff;
}

.form-allowed-tags {
	display: none;
}

/* color de las marcas de agua o input placeholders */
::-webkit-input-placeholder { color: #888; }
:-moz-placeholder { /* Firefox 18- */   opacity: 1; color: #888;  }
::-moz-placeholder {  /* Firefox 19+ */  opacity: 1;   color: #888;  }
:-ms-input-placeholder {  color: #888;  }


/* color de las marcas de agua o input placeholders */
::-webkit-input-placeholder { color: #888; }
:-moz-placeholder { /* Firefox 18- */   opacity: 1; color: #888;  }
::-moz-placeholder {  /* Firefox 19+ */  opacity: 1;   color: #888;  }
:-ms-input-placeholder {  color: #888;  }


