/*------------------------------------------------*/
/*-----------------[GLOBAL STYLES]---------------*/
/*------------------------------------------------*/

/* =Global
----------------------------------------------- */
 * { 
 	box-sizing: Border-box 
 }

html {
	font-size: 16px; /* 16px */
}
body {
	color: $text;
	font-family: $global-font;
	line-height: 1.5em; /* 24px */
	background: #fff;
	margin: 0;
}
main {
	padding-top: 150px;
}
.content-wrapper {
	background: #fff;
	margin: 0 auto;
	max-width: $desktop-width;
	display: block;
	overflow: hidden; 
	
	@media (max-width: $desktop-width) {
		padding-top: 0;
	}
}
/* Links */
a {
	color: $link;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	color: $link-hover;	
	text-decoration: none;
}

/* = Utilidades
----------------------------------------------- */
.admin-bar .navbar-fixed-top {
	margin-top: 32px;
}
.u-center-box {
	margin-left: auto;
	margin-right: auto;
}
.u-remove {
	display: none;
}

/* = Contenido
----------------------------------------------- */
.content {
	padding: 0;	

	.entry-title {
		
	}
	.single {
		width: 67%;
		margin: 0 3% 0 0;
		display: inline-block;
		overflow: hidden;
	}
	blockquote {
		font-family: Georgia, serif !important;
		font-size: 1.8rem;
		font-style: italic;
		color: #929292;

		p {
			margin: 0;
			padding: 0;
		}
	}
	blockquote:before {
		content: "\2018\2018";
		font-size: 5rem;
		float: left;
		padding-right: 1rem;
		line-height: 0.8;
		overflow: hidden;
		height: 3rem;
	}
}

.gallery {

	img {
		width: 100%;
	}
}







