/*------------------------------------------------*/
/*-----------------[HEADER]-----------------------*/
/*------------------------------------------------*/

.header-wrapper {
	width: 100%;
	position: fixed;
	display: block;
	background: $blue;
	height: $header-height;
	@include transicion();
	
	@media (max-width: $desktop-width) {
		height: auto;
		position: relative;
	}
	&.tiny {
		height: 60px;
	}
}
.aside {
	width: 100%;
	height: 50px;
	clear: both;
	overflow: hidden;
	margin-bottom: .5rem;
	-ms-transform: scaleY(1); /* IE 9 */
	-webkit-transform: scaleY(1); /* Chrome, Safari, Opera */
	transform: scaleY(1);
	@include transicion();
	background-color: $blue-dark;

	&.tiny {
		-ms-transform: scaleY(0); /* IE 9 */
		-webkit-transform: scaleY(0); /* Chrome, Safari, Opera */
		transform: scaleY(0);
		height: 0px;
	}
	.aside-content {
		width: $desktop-width;
		margin: 0 auto;
		padding: 5px 0;

		/* Botones Sociales */
		.social {
			float: right;
			padding: 0 1em;	

			@media (max-width: $tablet-width) {
				width: 100%;
				clear: both;
				text-align: center;
			}
		}
		/* Search Form */
		#searchform {
			float: right;
			padding: 0 1em;
			@include transicion();

			@media (max-width: $tablet-width) {
				display: none;
			}
			
			div { margin: 0; }
			label { display: none; }
		}
		
		#s {
			float: right;
			@include transicion();
			width: 90px;
		}
		#s:focus {
			background-color: #f9f9f9;
			width: 196px;
		}
		#searchsubmit {
			display: none;
		}
	}
}

.header { 
	overflow: hidden; 
	clear: both;
	display: block;
	width: $desktop-width;
	height: $header-height;
	margin: 0 auto;
	z-index: 99;
	left: 0;
	right: 0;
	@include transicion();
	
	@media (max-width: $desktop-width) {
		width: 100%;
		height: auto;
		position: relative;
	}

	&.tiny {
		height: 60px;
		
	}

	/* Logo */
	.logo {
		margin: 5px;
		display: block;
		position: absolute;
		width: 320px;
		height: 150px;
		background: #fff;
		@include transicion();
		background-image: url(images/logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
		top: 0;
		-webkit-box-shadow: 4px 4px 0px 0px rgba(140, 140, 170, 0.25);
		-moz-box-shadow:    4px 4px 0px 0px rgba(140, 140, 170, 0.25);
		box-shadow:         4px 4px 0px 0px rgba(140, 140, 170, 0.25);
		@include rounded(4px);

		@media (max-width: $tablet-width) {
			max-width: 100%;
			width: 100%;
		}
		&.tiny {
			width: 180px;
			height: 60px;
			margin: 2px;		
		}
	}	
	
	/* Main Navigation */		
	.main-nav {
		display: block;
		float: right;
		margin: .5rem 1% 0;
		max-width: 66%;
		@include transicion();
		
		@media (max-width: $tablet-width) {
			width: 100%;
			max-width: 100%;
			position: relative;
			display:inline-block;
			top: 0;
		}
		/* Clase que se le agrega al nav cuando se hace scroll */
		&.tiny { 
			
		}
		/* Clase del botón del menú que se muestra en pantallas pequeñas */
		.toggle-nav {
		    display:none;

		    @media (max-width: $tablet-width) {
		        padding:.5rem;
		        display:block;
		        margin: 0 auto;
		        max-width: 280px;
		        text-align: center;
		        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		        background:#444;
		        color:#fff;
		        font-size:1.25rem;
		        text-transform: uppercase;
		        transition:color linear 0.15s;
		    }
		}
		.toggle-nav:hover, .toggle-nav.activo {
	        text-decoration:none;
			background: #ccc;
	        color: #444;
	    }
		ul {
			font-size: 1em; /* 16px */
			list-style: none;
			margin: 0;
			padding-left: 0;

			@media (max-width: $tablet-width) {
				margin: 0;
				padding: 1rem 0 0;
				width: 100% !important;
				display: block;
				list-style: none;
				font-size: 1.1em;
			}
			&.activo {
				@media (max-width: $tablet-width) {
					display: none;
				}
			}
		}
		li {
			float: left;
			position: relative;

			@media (max-width: 768px) {
				width: 100%;
				display: block;
				text-align: center;
				border-bottom: #CCC 1px solid;
			}
		}
		a {
			color: #6c6c6c;
			display: block;
			line-height: 2em;
			padding: 0px .8em;
			text-decoration: none;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			@include transicion(0.25s);

			@media (max-width: 768px) {
				height: 2.625em;
			}
		}
		ul ul {
			-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
			box-shadow: 0 3px 3px rgba(0,0,0,0.2);
			display: none;
			float: left;
			margin: 0;
			position: absolute;
			top: 1.9em;
			left: 0;
			width: 188px;
			z-index: 99999;
			opacity: 0.95;
		    filter: alpha(opacity=95); /* For IE8 and earlier */
		}
		ul ul ul {
			left: 100%;
			top: 0;
		}
		ul ul a {
			background: #f9f9f9;
			border-bottom: 1px dotted #ddd;
			color: #444;
			font-size: .95em;
			font-weight: normal;
			height: auto;
			line-height: 1.4em;
			padding: 10px 10px;
			width: 168px;
		}
		li:hover > a,
		ul ul :hover > a,
		a:focus {
			background: #444;
		}
		li:hover > a,
		a:focus {
			background: #eaeaea; /* Show a solid color for older browsers */
			color: #373737;		
		}
		ul li:hover > ul {
			display: block;
		}
		.current-menu-item > a,
		.current-menu-ancestor > a,
		.current_page_item > a,
		.current_page_ancestor > a {
			font-weight: bold;
		}
	}
}
